/* view.module.css */

/* Container Principal */
.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* envolve o player para posicionamento relativo */
.videoWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Vídeo */
.video {
  width: 100%;
  height: 100%;
  z-index: 20;
  object-fit: contain;
  background-color: black;
  position: relative;
}

/* Overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 40;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Mute Icon */
.muteIcon {
  width: 80px;
  height: 80px;
}

/* elemento invisível que intercepta todos os cliques */
.clickBlocker {
  position: absolute;
  /* top:0; right:0; bottom:0; left:0 */
  inset: 0;
  z-index: 30;
  background: transparent;
  cursor: default;
  /* garante que o elemento receba eventos de ponteiro */
  pointer-events: auto;
}

/* Poster */
.poster {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(181, 229, 248);
  color: white;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
}

/* Heading */
.heading {
  font-size: clamp(3rem, 15vw, 8rem);
  margin: 0;
  font-family: monospace;
  line-height: 1;
}

/* SubHeading */
.subHeading {
  display: block;
  margin-top: 0.5rem;
  /* font-size: clamp(1.5rem, 5vw, 2.5rem); */
  font-size: 3rem;
  font-family: sans-serif;
}

.waves {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 15vh;
  min-height: 100px;
  max-height: 150px;
  z-index: 10;
}

.fill {
  background: rgba(21, 71, 139, 1);
  position: absolute;
  height: 0%;
  width: 100%;
  bottom: 0%;
}

.parallax>use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/* Ajustes para telas pequenas */
@media screen and (max-width: 470px) {
  .heading {
    font-size: 3rem;
  }

  .subHeading {
    font-size: 2rem;
  }

  .waves {
    bottom: 13%;
    height: 10vh;
    min-height: 50px;
    max-height: 100px;
  }

  .fill {
    background: rgba(21, 71, 139, 1);
    height: 13%;
  }
}